
@{
    Layout = "_Layout";
    ViewData["Title"] = "Sobre";
}


    <div class="container-fluid">

        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Sobre</h4>
        </div>

        <div class="alert alert-info" role="alert">
            <h3 class="alert-heading"> API - Covid19 Brazil API</h3>
            <p>Atividdade da Aula presencial 2.</p>
            <p>Foi consumido a seguinte API para obtenção dos dados e para seu posterior cadastro.
            <a href="https://covid19-brazil-api-docs.now.sh/" class="alert-link"> Documentação da API</a></p>
            <hr>
            <p class="mb-0">O serviço utilizado tem como objetivo obter os dados de casos de COVID por estado,
            passando por parametro a sigla de cada Estado. <a href="https://covid19-brazil-api.now.sh/api/report/v1/brazil/uf/pr" class="alert-link"> Serviço Utilizado </a></p>
        </div>




    </div>




